
* {
    margin: 0 ;
    padding: 0 ;
}

@font-face {
    font-family: 'Anonymous-Pro';
    src: url('../font/AnonymousPro-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Bradobrei';
    src: url('../font/ofont.ru_Bradobrei.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

html{
    width: 100%;
}

.wrapper {
    width: 1260px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

body {
    background: rgba(39, 14, 57, 1);
}

p {
    font-family: 'Anonymous-Pro', sans-serif;
    font-size: 12px;
    line-height: 160%;
    color: white;
}

h1 {
    font-family: 'Bradobrei', sans-serif;
    font-weight: 400;
    font-size: 80px;
    color: white;
    text-align: left;
}

h2 {
    font-family: 'Bradobrei', sans-serif;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: white;
}

h3 {
    font-family: 'Anonymous-Pro', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: white;
}

h4 {
    font-family: 'Anonymous-Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
}

.head-img {
    background-image: url(../img/космос.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 52vw;
}

header {
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    gap: 20vw;
}

.header_logo {
    display: inline-block;
    margin: 50px;
}

.header-button {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}

.container-button {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 56px;
    border: thin solid white;
    border-radius: 20px;
    cursor: pointer;
}

.container-header {
    font-family: 'Anonymous-Pro', sans-serif;
    display: flex;
    align-items: center;
}

.container-headcontent {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 180px;
    width: 80%;
}

.container-text {
    text-align: left;
}

.text-head {
    font-family: 'Anonymous-Pro', sans-serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: left;
    margin-top: 25px;
}

.txt-cont {
    width: 500px;
    margin-right: 50px;
}

.txt-block {
    margin-left: 50px;
    height: 360px;
}


.line {
    width: 100%;
    height: 2px;
   position: absolute;
    background-color: white;
    margin-top: 30px;
}

footer {
    margin-top: 30px;
    width: auto;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 10vw;
}


.gallery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-count: 2;
    align-items: center;
    justify-content: center;
}

.img-gallery{
    width: 48%;
    height: auto;
    display: inline-block;
    margin: 10px;
}

.video-cont{
    display: flex;
    align-items: center;
    flex-direction: column;
}